<div class="col-md-4">
  <h3 class="pt-5 mb-4">Traveler Details</h3>
  <%= form_with(model: booking, local: true) do |form| %>
    <% if booking.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

        <ul>
          <% booking.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :seat_label %>
      <%= form.text_field :seat_label %>
    </div>

    <div class="field">
      <%= form.label :fare %>
      <%= form.number_field :fare %>
    </div>

    <div class="actions">
      <%= form.submit "Checkout", class: "checkout-button" %>
    </div>
  <% end %>
</div>
