<%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Lato:400,700", media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag "bookings", 'data-turbolinks-track': 'reload' %>
<%# stylesheet_link_tag "style", 'data-turbolinks-track': 'reload' %>

<div class ="wrapper">
	<div class="seat-container col-md-4">

		<script>
			const regex = /&quot;/g;
			var seatIds_true = JSON.parse(<%= @bookings_true.to_json %>.replace(regex,"'"));
			//var seatIds_true = seatIds_true.replace(regex, "'");
			//console.log(seatIds_true);
			var seatIds_false = JSON.parse(<%= @bookings_false.to_json %>.replace(regex,"'"));
			//var seatIds_false = seatIds_false.replace(regex,"'");
			//console.log(seatIds_false);
		</script>
		<%= render 'seating' %>

		<%= render 'form', booking: @booking %>
	</div>
</div>

<script>

const queryString = window.location.search.replace('#', '');
//console.log(queryString);

const urlParams = new URLSearchParams(queryString);

//console.log(urlParams.has('schedule_id'));
const schedule_id = urlParams.get('schedule_id');
//console.log(schedule_id);

$("#booking_schedule_id").val(schedule_id)

</script>