<%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Poppins:300,400,500", media: "all", 'data-turbolinks-track': 'reload' %>

<div class="s002">
    <%= simple_form_for :search, url: "/schedule", method: "GET", html: { class:"form-inline"} do |f| %>
    <fieldset>
        <legend>SEARCH SCHEDULE</legend>
    </fieldset>
    <div class="inner-form">
        <div class="input-field first-wrap">
            <div class="icon-wrap">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"></path>
                </svg>
            </div>
        <%= f.input :dropoff_station, input_html: {  placeholder: "where are you heading?" } %>
        </div>
        <!--
        <div class="input-field first-wrap">
            <div class="icon-wrap">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"></path>
                </svg>
            </div>
        <%= f.input :pickup_station, input_html: {  placeholder: "where are you from?" }  %>
        </div>
        <div class="input-field second-wrap">
            <div class="icon-wrap">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M17 12h-5v5h5v-5zM16 1v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-1V1h-2zm3 18H5V8h14v11z"></path>
                </svg>
            </div>
        <%# f.input :pickup_date, as: :date, start_day: Date.today.day, discard_year: true %>
        </div>
        -->
        <div class="input-field fifth-wrap">
            <%= f.submit "SEARCH", html: { class:"btn-search" } %>
        </div>
    </div>
    <% end %>
</div>