# create own form for each row and use js or jquery to get td value of schedule id of tr into input field
<h1>Schedules</h1>
<table>
    <tr>
        <th>Pickup Station</th>
        <th>Pickup Time</th>
        <th>Dropoff Station</th>
        <th>Dropoff Time</th>
        <th>Bus</th>
    <tr>
<% @schedules.each do |schedule| %>
    <tr>
        <td><%= schedule.pickup_station %></td>
        <td><%= schedule.pickup_time %></td>
        <td><%= schedule.dropoff_station %></td>
        <td><%= schedule.dropoff_time %></td>
        <td><%= schedule.bus_id %></td>
    </tr>
</table>
<% end %>