<%# Add bus name later %>
<h1>Schedules</h1>
<table>
    <tr>
        <th>Pickup Station</th>
        <th>Pickup Time</th>
        <th>Dropoff Station</th>
        <th>Dropoff Time</th>
        <th></th>
    <tr>
<% @schedules.each do |schedule| %>
    <tr>
        <td><%= schedule.pickup_station %></td>
        <td><%= schedule.pickup_time %></td>
        <td><%= schedule.dropoff_station %></td>
        <td><%= schedule.dropoff_time %></td>
        <td><%= link_to "Choose", new_traveler_path(schedule_id: schedule.id, schedule_bus_id: schedule.bus_id) %></td>
    </tr>
<% end %>
</table>

<script>

</script>