<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @traveler.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @traveler.last_name %>
</p>

<p>
  <strong>Phone no:</strong>
  <%= @traveler.phone_no %>
</p>

<p>
  <strong>Ic no:</strong>
  <%= @traveler.ic_no %>
</p>

<p>
  <strong>Age:</strong>
  <%= @traveler.age %>
</p>

<%# link_to 'Edit', edit_traveler_path(@traveler) %> 
<%# link_to 'Back', travelers_path %>
