<%= form_with(model: payment, local: true) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
        <% payment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ccnumber %>
    <%= form.text_field :ccnumber %>
  </div>

  <div class="field">
    <%= form.label :cvcnumber %>
    <%= form.text_field :cvcnumber %>
  </div>

  <div class="field">
    <%= form.label :ccexpmonth %>
    <%= form.select(:ccexpmonth, options_for_select([["01", "Jan"], ["02", "Feb"], ["03", "Mar"], ["04", "Apr"], ["05", "May"], ["06", "Jun"], ["07", "Jul"], ["08", "Aug"], ["09", "Sept"], ["10", "Oct"], ["11", "Nov"], ["12", "Dec"]])) %>
  </div>

  <div class="field">
    <%= form.label :ccexpyear %>
    <%= form.select(:ccexpyear, options_for_select([["20", "2020"], ["21", "2021"], ["22", "2022"], ["23", "2023"], ["24", "2024"], ["25", "2025"], ["26", "2026"], ["27", "2027"], ["28", "2028"], ["29", "2029"], ["30", "2030"]])) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
