<!DOCTYPE html>
<html>
  <head>
    <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>
    <title><%= content_for?(:title) ? yield(:title) : "ReadyBus" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://js.stripe.com/v3/', 'data-turbolinks-track': 'reload' %>
    <%= tag :meta, name: "stripe-public-key", content: Rails.configuration.stripe[:publishable_key] %>
    <%= javascript_pack_tag "payments", 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <%= content_for?(:content) ? yield(:content) : yield %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </main>
    <footer class="footer mt-auto py-3">
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
